* {
  margin: 0px;
  align-items: center;
  justify-content: center;
}
.navs {
  background-color: #081b31;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 10px;
  object-fit: cover;
}
img:hover {
  background-color: #081b31;
}
.images {
  display: flex;
  gap: 5rem;
  margin-top: 30px;
  margin-left: 40px;
}
.points {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  font-size: 1.5rem;
  justify-content: space-evenly;
}
.score {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.board {
  margin-top: 50px;
  background-color: #081b31;
  color: white;
  width: 300px;
  display: flex;
  border-radius: 10px;
  padding: 5px;
}
footer {
  display: flex;
}
